.play-game {
  /* background: radial-gradient(hsl(214, 47%, 23%) to hsl(237, 49%, 15%)); */
  background: radial-gradient(circle, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  min-height: 100vh;
}

.card-info {
  width: 60%;
  margin: 0 auto;
  color: aliceblue;
  border: 2px solid white;
  border-radius: 20px;
  padding: 10px;
}

.card-score {
  background-color: white;
  padding: 5px 20px;
  color: #3b4363;
  border-radius: 10px;
}

.game-play {
  width: 75%;
  margin: 0 auto 0;
}

.btn-game {
  width: 120px;
  height: 120px;
  box-shadow: inset 0 5px 6px grey, 0 2px;
  border-radius: 100%;
  background-color: white;
  transform: scale(1);
  transition: 0.3s;
}

.btn-game:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.btn-game-computer {
  transform: scale(1.5);
}

.reset:hover {
  cursor: pointer;
}

.btn-rules {
  background-color: rgb(90, 88, 88);
  padding: 0px 50px;
  color: #3b4363;
  border-radius: 10px;
  border: none;
  font-size: 25px;
  color: white;
}
